
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common css */
body{
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Poppins','sans-serif';
}

.container{
    background-color: #ffffff;
    width: 870px;
    padding:30px;
    border-radius: 5px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 20px;
}
/* HEADER STYLE STARTS */
header{
    /* position: relative; */
    margin: 0;
}
nav{
    margin: 0;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    background-color: #562EFF;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-left: 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: seashell;
    /* display: inline-block; */
}
/* HEADER STYLE ENDS */
main{
    display: flex;
    justify-content: center;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    margin-top: 3px;
    font-size: 24px;
    color: #562EFF;
}
.players{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog css starts */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    margin-bottom: 30px;
    grid-gap: 20px;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-title{
    font-size: 20px;
}
.blog-info a{
    text-decoration: none;
    color:#562EFF;
}